/* Global Styles */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.container {
    max-width: 1440px;
    height: 3984px;
    position: relative;
    background: #FBF8CC;
    margin: 0 auto;
}

/* Header Styles */
.header {
    position: absolute;
    color: #03045E;
    font-size: 28px;
    font-weight: 500;
    word-wrap: break-word;
}

/* Sub-header Styles */
.sub-header {
    position: absolute;
    color: #03045E;
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    word-wrap: break-word;
}

/* Title Styles */
.title {
    position: absolute;
    color: #03045E;
    font-size: 100px;
    font-weight: 800;
    line-height: 116px;
    word-wrap: break-word;
}

/* Section Header Styles */
.section-header {
    position: absolute;
    color: #FCF47F;
    font-size: 100px;
    font-weight: 800;
    line-height: 116px;
    word-wrap: break-word;
}

/* Contact Info Styles */
.contact-info {
    position: absolute;
    color: #03045E;
    font-size: 24px;
    line-height: 44px;
    word-wrap: break-word;
}

/* Button Styles */
.button {
    width: 164px;
    height: 68px;
    position: absolute;
    background: #F5EE84;
    border-radius: 6px;
    border: 1px #474306 solid;
    color: #474306;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Image Container Styles */
.image-container {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    background: black;
    border: 5px solid #474306;
}

.image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* Icon Styles */
.icon-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

.social-icons img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

/* Navigation Styles */
nav {
    position: absolute;
    top: 37px;
    left: 682px;
}

nav div {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    color: #03045E;
}
